body {font-family:sans-serif;}
.wrapper { max-width: 856px;margin: 0 auto;}
.header-wrapper {margin-top: 61px; margin-bottom: 50px; width: 635px; height: 88px; padding: 32px,0px, 32px, 0px; gap: 72px;}
.main-wrapper {display: flex; flex-direction: column; margin-bottom: 54px;}
.nav-menu {width: 635px; height: 88px; padding: 32px;}
.img-container {width: 100%;}
.text-container {font: inter; font-weight: 500px; size: 21px;line-height: 31.5px; color: #161616;}
button {background: none;
    border: none;
    margin: 40px;
    padding: 10;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;}
.title{text-align: center; font-weight: bold; font: inter; font-weight: 600px; size: 48px; line-height: 64.8px; text-align: center;}
.list-item{display: inline-block;}
.list-link{width: 77px; height: 24px; margin: 20px;}
.list{text-align: center;font: inter; font-weight: 400; size: 18px; line-height: 23.3px;}
.color{color: #04959E;}
.listed-container {font: inter; font-weight: 400px; size: 18px; line-height: 27px; color: #161616;} 
.ol {text-emphasis: none; ;}
.centered-list{text-align: center;}
.green-button{ width: 145px;
    height:44px;
    padding: 10px 24px 10px 24px;
background:#04959E;
color:#fff;}
.container-button {  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;}
.footer-container {text-align: center; border-top: 1px solid #161616;padding-bottom: 15px; padding-top: 15px; justify-content: space-between;}
